body {
  margin: 0;
  font-family: Arial;
  text-align: center;
  background: linear-gradient(135deg, #ffb3b3, #ff6666);
  color: #7a0000;
}

/* PANTALLA INICIAL */
.inicio {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* CONTENIDO */
.container {
  position: relative;
  z-index: 2;
  padding: 20px;
}

/* GALERÍA */
.galeria {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin: 40px 0;
}

.galeria img {
  width: 85%;
  max-width: 380px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

/* BOTÓN */
.btn {
  background: #cc0000;
  color: white;
  padding: 15px 25px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.btn:hover {
  background: #990000;
}

.hidden {
  display: none;
}

/* VIDEO */
video {
  width: 80%;
  max-width: 400px;
  border-radius: 20px;
  margin-top: 20px;
}

/* OPCIONES DEL JUEGO */
.opcion-btn {
  display: block;
  margin: 10px auto;
  padding: 10px;
  background: #cc0000;
  color: white;
  border-radius: 10px;
  border: none;
}

/* DECORACIÓN */
#decoracion {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.elemento {
  position: absolute;
  top: -10vh;
  animation: caer linear infinite;
}

@keyframes caer {
  0% {
    transform: translateY(-10vh);
  }
  100% {
    transform: translateY(110vh);
    opacity: 0;
  }
}

/* CONFETTI */
.confetti {
  position: fixed;
  width: 10px;
  height: 10px;
  animation: caerConfetti 3s linear forwards;
  z-index: 3;
}

@keyframes caerConfetti {
  to {
    transform: translateY(100vh);
    opacity: 0;
  }
}